---
import type { GetStaticPaths } from "astro";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
import { db, eq, TeamMember } from "astro:db";

export const getStaticPaths = (async () => {
  const teamMembers = await db.select().from(TeamMember);

  if (teamMembers.length) {
    return teamMembers.map(({ id }) => ({
      params: { id }
    }));
  }

  return [];
}) satisfies GetStaticPaths;

const { id } = Astro.params;

const teamMember = (await db.select().from(TeamMember).where(eq(TeamMember.id, +id!)))[0];
---

<Layout title={teamMember.name}>
  <Header>
    <a
      class="absolute top-0 left-0 px-4 py-2.5 border-1 border-t-0 border-l-0 border-gray-200 dark:border-gray-800 hover:bg-gray-900 hover:c-gray-200 transition"
      href="/">Volver</a
    >
    <h1 class="text-20 leading-20">{teamMember.name}</h1>
  </Header>
  <main>
    <Section fullWidthBorder class="content-wrapper">
      <p class="max-w-5xl mx-auto text-pretty">{teamMember.description}</p>
    </Section>
  </main>
</Layout>
