---
import type { GetStaticPaths } from "astro";
import { getEntry, getCollection } from "astro:content";
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Section.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import ProjectCard from "../../components/ProjectCard.astro";

const projects = await getCollection('projects');

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts");

  return posts.map(({ slug }) => {
    return {
      params: { slug }
    };
  });
}) satisfies GetStaticPaths;

const post = await getEntry("posts", Astro.params.slug);
const author = await getEntry("authors", post.data.author.id);
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <Header>
    <a
      class="absolute top-0 left-0 px-4 py-2.5 border-1 border-t-0 border-l-0 border-gray-200 dark:border-gray-800 hover:bg-gray-900 hover:c-gray-200 transition"
      href="/">Volver</a
    >
    <h1 class="text-20 leading-20">{post.data.title}</h1>
    {post.data.description ?? <p>{post.data.description}</p>}
  </Header>
  <main>
    <Section fullWidthBorder class="content-wrapper">
      <Content />
    </Section>
    <Section source="proyectos.json" fullWidthBorder>
      <ul
        class="my-5 project-list ignore-content-container border-y-1 border-y-gray-200 border-y-dotted"
      >
        {projects.map((proj: any) => <ProjectCard {...proj.data} />)}
      </ul>
    </Section>
  </main>
</Layout>
