<footer class="py-6.25 border-t-1 border-gray-200 c-gray-600 grid place-content-center gap-[1ch] grid-cols-[repeat(3,auto)]">
    <span class="grid-col-[span_1]">Hecho con ❤️ por <a href="https://github.com/orgs/MerquitApp/repositories" class="c-gray-600 dark:c-gray-300 underline">MerquitApp</a></span>
</footer>